<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Viewpoint - Verdiforslag</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Viewpoint - Verdiforslag</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-070dfcbfdce9439591803d833053d05c.png" alt="Viewpoint - Verdiforslag" usemap="#id-070dfcbfdce9439591803d833053d05cmap"/>
			   <map name="id-070dfcbfdce9439591803d833053d05cmap">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/id-332d359799874dc9b41e161b5011ac8c.html"  target="element">
				  		<area shape="rect" coords="10,125,130,180" href="../elements/id-ade5b81d79e34cf1b84486103c7276d8.html"  target="element">
				  		<area shape="rect" coords="214,238,334,293" href="../elements/id-f83337a34a494fa891638218a4e3e460.html"  target="element">
				  		<area shape="rect" coords="214,10,334,65" href="../elements/id-789d4d532ea14641adba43c61a93e2ed.html"  target="element">
				  		<area shape="rect" coords="214,125,334,180" href="../elements/id-ec209b7fc577418090a36d0708c0bb9f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ec209b7fc577418090a36d0708c0bb9f.html" target="element"> Verdi </a> </td>
											    <td> <a href="../elements/id-ec209b7fc577418090a36d0708c0bb9f.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-789d4d532ea14641adba43c61a93e2ed.html" target="element"> Interessent </a> </td>
											    <td> <a href="../elements/id-789d4d532ea14641adba43c61a93e2ed.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f83337a34a494fa891638218a4e3e460.html" target="element"> Resultatm&#229;l / produkt </a> </td>
											    <td> <a href="../elements/id-f83337a34a494fa891638218a4e3e460.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ade5b81d79e34cf1b84486103c7276d8.html" target="element"> Assessment </a> </td>
											    <td> <a href="../elements/id-ade5b81d79e34cf1b84486103c7276d8.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-332d359799874dc9b41e161b5011ac8c.html" target="element"> Driver </a> </td>
											    <td> <a href="../elements/id-332d359799874dc9b41e161b5011ac8c.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c97725da85f34ee1a1a5661981fed668.html" target="element"> verdi for </a> </td>
																		<td> <a href="../elements/id-c97725da85f34ee1a1a5661981fed668.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec209b7fc577418090a36d0708c0bb9f.html" target="element"> Verdi </a> </td>
																		<td> <a href="../elements/id-789d4d532ea14641adba43c61a93e2ed.html" target="element"> Interessent </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c5c5723643d447a5b7446cb451d2e2b0.html" target="element"> opptatt av </a> </td>
																		<td> <a href="../elements/id-c5c5723643d447a5b7446cb451d2e2b0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-789d4d532ea14641adba43c61a93e2ed.html" target="element"> Interessent </a> </td>
																		<td> <a href="../elements/id-332d359799874dc9b41e161b5011ac8c.html" target="element"> Driver </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b4d7b988296147428c03f3cec66cd139.html" target="element"> problem / vondter </a> </td>
																		<td> <a href="../elements/id-b4d7b988296147428c03f3cec66cd139.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-789d4d532ea14641adba43c61a93e2ed.html" target="element"> Interessent </a> </td>
																		<td> <a href="../elements/id-ade5b81d79e34cf1b84486103c7276d8.html" target="element"> Assessment </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b13f99179b594566a0d82c7564a11671.html" target="element"> verdi av produkt </a> </td>
																		<td> <a href="../elements/id-b13f99179b594566a0d82c7564a11671.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f83337a34a494fa891638218a4e3e460.html" target="element"> Resultatm&#229;l / produkt </a> </td>
																		<td> <a href="../elements/id-ec209b7fc577418090a36d0708c0bb9f.html" target="element"> Verdi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7e7b46636ed442a8acbc9dce2323a08b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e7b46636ed442a8acbc9dce2323a08b.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ade5b81d79e34cf1b84486103c7276d8.html" target="element"> Assessment </a> </td>
																		<td> <a href="../elements/id-332d359799874dc9b41e161b5011ac8c.html" target="element"> Driver </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>