<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Viewpoint - Applikasjon</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Viewpoint - Applikasjon</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7df5568d3693461bacaad8c58c62bb50.png" alt="Viewpoint - Applikasjon" usemap="#id-7df5568d3693461bacaad8c58c62bb50map"/>
			   <map name="id-7df5568d3693461bacaad8c58c62bb50map">
				  		<area shape="rect" coords="10,286,130,341" href="../elements/id-3e9e132f56584ff49a120020bb45628e.html"  target="element">
				  		<area shape="rect" coords="10,94,130,149" href="../elements/id-56117fea8d3945ed905214059053f3d1.html"  target="element">
				  		<area shape="rect" coords="10,382,130,437" href="../elements/id-cb5587b9ec7049919395540a287a74ea.html"  target="element">
				  		<area shape="rect" coords="277,94,397,149" href="../elements/id-86bede99b85c448d8fb16655b116cfda.html"  target="element">
				  		<area shape="rect" coords="10,190,130,245" href="../elements/id-ac2f26e2293d46b38802e0963eae713b.html"  target="element">
				  		<area shape="rect" coords="277,190,397,245" href="../elements/id-aa3d59605fc24ac29c9cc379ee1513ed.html"  target="element">
				  		<area shape="rect" coords="277,382,397,437" href="../elements/id-61cecc3aef8c461aae916e831f136e4d.html"  target="element">
				  		<area shape="rect" coords="277,286,397,341" href="../elements/id-6f9e3d36afa1444e9e57b07d246ec427.html"  target="element">
				          <area shape="rect" coords="178,10,479,503" href="../objects/id-d9a3552f5b4147138d50433908da52be.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">M&#229;lgruppe: Nyttig for lederniv&#229;, prosjektledere og arkitekter
Behov: overordnet oversikt over sentrale applikasjonsgrensesnitt og deres relasjon til lokale applikasjonstjenester
Detaljniv&#229;: Overordnet
Arkitekturlag / aspekt: Applikasjon
Annet: </div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-d9a3552f5b4147138d50433908da52be.html" target="element"> Nasjonal e-helsel&#248;sning </a> </td>
									           <td> <a href="../objects/id-d9a3552f5b4147138d50433908da52be.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-6f9e3d36afa1444e9e57b07d246ec427.html" target="element"> e-helsel&#248;sning </a> </td>
											    <td> <a href="../elements/id-6f9e3d36afa1444e9e57b07d246ec427.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61cecc3aef8c461aae916e831f136e4d.html" target="element"> Nasjonalt datalager </a> </td>
											    <td> <a href="../elements/id-61cecc3aef8c461aae916e831f136e4d.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aa3d59605fc24ac29c9cc379ee1513ed.html" target="element"> Grensesnitt (API) </a> </td>
											    <td> <a href="../elements/id-aa3d59605fc24ac29c9cc379ee1513ed.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac2f26e2293d46b38802e0963eae713b.html" target="element"> Lokal GUI </a> </td>
											    <td> <a href="../elements/id-ac2f26e2293d46b38802e0963eae713b.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-86bede99b85c448d8fb16655b116cfda.html" target="element"> Sentralt GUI </a> </td>
											    <td> <a href="../elements/id-86bede99b85c448d8fb16655b116cfda.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cb5587b9ec7049919395540a287a74ea.html" target="element"> Lokalt datalager </a> </td>
											    <td> <a href="../elements/id-cb5587b9ec7049919395540a287a74ea.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-56117fea8d3945ed905214059053f3d1.html" target="element"> Helsepersonell1 </a> </td>
											    <td> <a href="../elements/id-56117fea8d3945ed905214059053f3d1.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3e9e132f56584ff49a120020bb45628e.html" target="element"> Lokal l&#248;sning </a> </td>
											    <td> <a href="../elements/id-3e9e132f56584ff49a120020bb45628e.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																	<tr>
																		<td> <a href="../elements/id-00479276b421490b8945f5852a341412.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00479276b421490b8945f5852a341412.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f9e3d36afa1444e9e57b07d246ec427.html" target="element"> e-helsel&#248;sning </a> </td>
																		<td> <a href="../elements/id-61cecc3aef8c461aae916e831f136e4d.html" target="element"> Nasjonalt datalager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-218f4e6448d441109e5fd8b1caf0e7bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-218f4e6448d441109e5fd8b1caf0e7bd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f9e3d36afa1444e9e57b07d246ec427.html" target="element"> e-helsel&#248;sning </a> </td>
																		<td> <a href="../elements/id-86bede99b85c448d8fb16655b116cfda.html" target="element"> Sentralt GUI </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-734a93556c4047bbb141b3568665b609.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-734a93556c4047bbb141b3568665b609.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa3d59605fc24ac29c9cc379ee1513ed.html" target="element"> Grensesnitt (API) </a> </td>
																		<td> <a href="../elements/id-86bede99b85c448d8fb16655b116cfda.html" target="element"> Sentralt GUI </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-acbd5aa95b6c448d88b2f3e8d3848d36.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-acbd5aa95b6c448d88b2f3e8d3848d36.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa3d59605fc24ac29c9cc379ee1513ed.html" target="element"> Grensesnitt (API) </a> </td>
																		<td> <a href="../elements/id-3e9e132f56584ff49a120020bb45628e.html" target="element"> Lokal l&#248;sning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c2c854400a474e0db515414ee78fb094.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2c854400a474e0db515414ee78fb094.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa3d59605fc24ac29c9cc379ee1513ed.html" target="element"> Grensesnitt (API) </a> </td>
																		<td> <a href="../elements/id-6f9e3d36afa1444e9e57b07d246ec427.html" target="element"> e-helsel&#248;sning </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f6e58b79a051402090f1890b6d54d641.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f6e58b79a051402090f1890b6d54d641.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac2f26e2293d46b38802e0963eae713b.html" target="element"> Lokal GUI </a> </td>
																		<td> <a href="../elements/id-56117fea8d3945ed905214059053f3d1.html" target="element"> Helsepersonell1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5d0abe6064014e17968985b988c38e03.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d0abe6064014e17968985b988c38e03.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac2f26e2293d46b38802e0963eae713b.html" target="element"> Lokal GUI </a> </td>
																		<td> <a href="../elements/id-3e9e132f56584ff49a120020bb45628e.html" target="element"> Lokal l&#248;sning </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-470f1902225c4c5eaade2f4f19272018.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-470f1902225c4c5eaade2f4f19272018.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-86bede99b85c448d8fb16655b116cfda.html" target="element"> Sentralt GUI </a> </td>
																		<td> <a href="../elements/id-56117fea8d3945ed905214059053f3d1.html" target="element"> Helsepersonell1 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-55861cf0f89249b6a4db3efc7ac1237d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55861cf0f89249b6a4db3efc7ac1237d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e9e132f56584ff49a120020bb45628e.html" target="element"> Lokal l&#248;sning </a> </td>
																		<td> <a href="../elements/id-cb5587b9ec7049919395540a287a74ea.html" target="element"> Lokalt datalager </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>