<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Viewpoint - Samhandlingstjeneste</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Viewpoint - Samhandlingstjeneste</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8aa6a27ba0d84579856936c126ba428f.png" alt="Viewpoint - Samhandlingstjeneste" usemap="#id-8aa6a27ba0d84579856936c126ba428fmap"/>
			   <map name="id-8aa6a27ba0d84579856936c126ba428fmap">
				  		<area shape="rect" coords="406,334,527,395" href="../elements/id-689a02c361ac4e6fad42b3bf64f348c4.html"  target="element">
				  		<area shape="rect" coords="238,334,359,395" href="../elements/id-38f3609e15da4fc4a7859b174acca871.html"  target="element">
				  		<area shape="rect" coords="22,262,155,323" href="../elements/id-7b6c115f5dca474d9f89472831e58ba5.html"  target="element">
				  		<area shape="rect" coords="22,184,155,245" href="../elements/id-c3449c395ec0483694906d0ce8f4d9d7.html"  target="element">
				  		<area shape="rect" coords="346,187,466,242" href="../elements/id-d26f125fb70d42d5a787e0e9f180cc4f.html"  target="element">
				  		<area shape="rect" coords="202,187,322,242" href="../elements/id-830ba69727914a1291ad003d54926b16.html"  target="element">
				  		<area shape="rect" coords="310,10,430,65" href="../elements/id-72dbd5b0853a43829ca787b6a54f0831.html"  target="element">
				  		<area shape="rect" coords="94,10,214,65" href="../elements/id-56117fea8d3945ed905214059053f3d1.html"  target="element">
				          <area shape="rect" coords="10,142,179,383" href="../objects/id-f149d73df71d4f9787b5efc6804cdf13.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-f149d73df71d4f9787b5efc6804cdf13.html" target="element"> Informasjonsbehov </a> </td>
									           <td> <a href="../objects/id-f149d73df71d4f9787b5efc6804cdf13.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-56117fea8d3945ed905214059053f3d1.html" target="element"> Helsepersonell1 </a> </td>
											    <td> <a href="../elements/id-56117fea8d3945ed905214059053f3d1.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-72dbd5b0853a43829ca787b6a54f0831.html" target="element"> Helsepersonell2 </a> </td>
											    <td> <a href="../elements/id-72dbd5b0853a43829ca787b6a54f0831.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-830ba69727914a1291ad003d54926b16.html" target="element"> Samhandlings-tjeneste1 </a> </td>
											    <td> <a href="../elements/id-830ba69727914a1291ad003d54926b16.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d26f125fb70d42d5a787e0e9f180cc4f.html" target="element"> Samhandlings-tjeneste2 </a> </td>
											    <td> <a href="../elements/id-d26f125fb70d42d5a787e0e9f180cc4f.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c3449c395ec0483694906d0ce8f4d9d7.html" target="element"> Informasjons-tjeneste A </a> </td>
											    <td> <a href="../elements/id-c3449c395ec0483694906d0ce8f4d9d7.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7b6c115f5dca474d9f89472831e58ba5.html" target="element"> Informasjons-tjeneste B </a> </td>
											    <td> <a href="../elements/id-7b6c115f5dca474d9f89472831e58ba5.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-38f3609e15da4fc4a7859b174acca871.html" target="element"> Nasjonal e-helsel&#248;sning X </a> </td>
											    <td> <a href="../elements/id-38f3609e15da4fc4a7859b174acca871.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-689a02c361ac4e6fad42b3bf64f348c4.html" target="element"> Nasjonale e-helsel&#248;sning Y </a> </td>
											    <td> <a href="../elements/id-689a02c361ac4e6fad42b3bf64f348c4.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																	<tr>
																		<td> <a href="../elements/id-7bb3172075024ef4bd8c41dc68424de9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7bb3172075024ef4bd8c41dc68424de9.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-830ba69727914a1291ad003d54926b16.html" target="element"> Samhandlings-tjeneste1 </a> </td>
																		<td> <a href="../elements/id-56117fea8d3945ed905214059053f3d1.html" target="element"> Helsepersonell1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-daaab5f7b0274715a5671da344fcc3c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-daaab5f7b0274715a5671da344fcc3c6.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-830ba69727914a1291ad003d54926b16.html" target="element"> Samhandlings-tjeneste1 </a> </td>
																		<td> <a href="../elements/id-72dbd5b0853a43829ca787b6a54f0831.html" target="element"> Helsepersonell2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2f8d29cd7945415a90a685627f484c66.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2f8d29cd7945415a90a685627f484c66.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-830ba69727914a1291ad003d54926b16.html" target="element"> Samhandlings-tjeneste1 </a> </td>
																		<td> <a href="../elements/id-7b6c115f5dca474d9f89472831e58ba5.html" target="element"> Informasjons-tjeneste B </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-708b20b56c40416fb238e4bdd5af42b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-708b20b56c40416fb238e4bdd5af42b6.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d26f125fb70d42d5a787e0e9f180cc4f.html" target="element"> Samhandlings-tjeneste2 </a> </td>
																		<td> <a href="../elements/id-56117fea8d3945ed905214059053f3d1.html" target="element"> Helsepersonell1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7c8aae66d1784310aeffe3da1e95f162.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c8aae66d1784310aeffe3da1e95f162.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d26f125fb70d42d5a787e0e9f180cc4f.html" target="element"> Samhandlings-tjeneste2 </a> </td>
																		<td> <a href="../elements/id-7b6c115f5dca474d9f89472831e58ba5.html" target="element"> Informasjons-tjeneste B </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2c0297342822444cb793b2b932b8b36d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2c0297342822444cb793b2b932b8b36d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c3449c395ec0483694906d0ce8f4d9d7.html" target="element"> Informasjons-tjeneste A </a> </td>
																		<td> <a href="../elements/id-830ba69727914a1291ad003d54926b16.html" target="element"> Samhandlings-tjeneste1 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e72466e8f13e408dbf9f6a44977e29e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e72466e8f13e408dbf9f6a44977e29e6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38f3609e15da4fc4a7859b174acca871.html" target="element"> Nasjonal e-helsel&#248;sning X </a> </td>
																		<td> <a href="../elements/id-d26f125fb70d42d5a787e0e9f180cc4f.html" target="element"> Samhandlings-tjeneste2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b68c7a0e4caf4812bfd19f125435200b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b68c7a0e4caf4812bfd19f125435200b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38f3609e15da4fc4a7859b174acca871.html" target="element"> Nasjonal e-helsel&#248;sning X </a> </td>
																		<td> <a href="../elements/id-830ba69727914a1291ad003d54926b16.html" target="element"> Samhandlings-tjeneste1 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d6b26d8d4caf41eebc5eb1ada4dee1e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d6b26d8d4caf41eebc5eb1ada4dee1e3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-689a02c361ac4e6fad42b3bf64f348c4.html" target="element"> Nasjonale e-helsel&#248;sning Y </a> </td>
																		<td> <a href="../elements/id-d26f125fb70d42d5a787e0e9f180cc4f.html" target="element"> Samhandlings-tjeneste2 </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>