<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Viewpoint - Kapabiliteter</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Viewpoint - Kapabiliteter</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c2160f563fe74df0bc05eb935f1d890a.png" alt="Viewpoint - Kapabiliteter" usemap="#id-c2160f563fe74df0bc05eb935f1d890amap"/>
			   <map name="id-c2160f563fe74df0bc05eb935f1d890amap">
				  				<area shape="rect" coords="478,310,598,365" href="../elements/id-5780cf990785470f91c54ab9322379a5.html"  target="element">
				  				<area shape="rect" coords="478,166,598,221" href="../elements/id-29cadaa6de1b4199a3aea66fc2f9e463.html"  target="element">
				  				<area shape="rect" coords="478,46,598,101" href="../elements/id-dd3bd5dfd242452b9521a7186dca3f20.html"  target="element">

				  		<area shape="rect" coords="442,10,635,383" href="../elements/id-8bf759e333954aeb8fd4b89388cdcb45.html"  target="element">
				  				<area shape="rect" coords="262,310,382,365" href="../elements/id-df87565470a4473a96acd6f5af5c91f4.html"  target="element">

				  		<area shape="rect" coords="226,274,419,383" href="../elements/id-29684914586d41f29c7baacbed7f76b6.html"  target="element">
				  				<area shape="rect" coords="262,130,382,185" href="../elements/id-52915f8ff0bf4a4ebb9b28d10c4d67fa.html"  target="element">
				  				<area shape="rect" coords="262,46,382,101" href="../elements/id-c382580d06df4cc5abe9cb34818d4686.html"  target="element">

				  		<area shape="rect" coords="226,10,419,251" href="../elements/id-11ba1263bc464bc1850aa7155ec73940.html"  target="element">
				  				<area shape="rect" coords="46,298,166,353" href="../elements/id-bb8595861ffa4a2880272e26ea138aae.html"  target="element">
				  				<area shape="rect" coords="46,214,166,269" href="../elements/id-a121796fc9eb4a4abbf072e32e8e1894.html"  target="element">
				  				<area shape="rect" coords="46,130,166,185" href="../elements/id-e1390c0646c14adfa90f8e8230482cf5.html"  target="element">
				  				<area shape="rect" coords="46,46,166,101" href="../elements/id-6c0b98b401764f92a1fb912698d9bfcb.html"  target="element">

				  		<area shape="rect" coords="10,10,203,383" href="../elements/id-5304c3c54ebf47c4810994d7b0b0aa12.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">M&#229;lgruppe: Ledere
Behov: Synliggj&#248;re hvilke kapabiliteter som er relevante og hvilken status de har
Detaljniv&#229;: Overordnet
Arkitekturlag / aspekt: Strategi, motivasjon, struktur

Kapabiliteter representerer de n&#229;v&#230;rende eller &#248;nskede evnene til en organisasjon, realisert av  mennesker, prosesser, informasjon og teknologi.

Annet: Kapabilitetsperspektivet kan ogs&#229; inneholde informasjon om hvilke roller som er knyttet til de ulike kapabiliteter

</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-5304c3c54ebf47c4810994d7b0b0aa12.html" target="element"> Logisk gruppering A </a> </td>
											    <td> <a href="../elements/id-5304c3c54ebf47c4810994d7b0b0aa12.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6c0b98b401764f92a1fb912698d9bfcb.html" target="element"> Kapabilitet 1 </a> </td>
													    <td> <a href="../elements/id-6c0b98b401764f92a1fb912698d9bfcb.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e1390c0646c14adfa90f8e8230482cf5.html" target="element"> Kapabilitet 2 </a> </td>
													    <td> <a href="../elements/id-e1390c0646c14adfa90f8e8230482cf5.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a121796fc9eb4a4abbf072e32e8e1894.html" target="element"> Kapabilitet 3 </a> </td>
													    <td> <a href="../elements/id-a121796fc9eb4a4abbf072e32e8e1894.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bb8595861ffa4a2880272e26ea138aae.html" target="element"> Kapabilitet 4 </a> </td>
													    <td> <a href="../elements/id-bb8595861ffa4a2880272e26ea138aae.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-11ba1263bc464bc1850aa7155ec73940.html" target="element"> Logisk gruppering B </a> </td>
											    <td> <a href="../elements/id-11ba1263bc464bc1850aa7155ec73940.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c382580d06df4cc5abe9cb34818d4686.html" target="element"> Kapabilitet 5 </a> </td>
													    <td> <a href="../elements/id-c382580d06df4cc5abe9cb34818d4686.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-52915f8ff0bf4a4ebb9b28d10c4d67fa.html" target="element"> Kapabilitet 6 </a> </td>
													    <td> <a href="../elements/id-52915f8ff0bf4a4ebb9b28d10c4d67fa.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-29684914586d41f29c7baacbed7f76b6.html" target="element"> Logisk gruppering C </a> </td>
											    <td> <a href="../elements/id-29684914586d41f29c7baacbed7f76b6.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-df87565470a4473a96acd6f5af5c91f4.html" target="element"> Kapabilitet 7 </a> </td>
													    <td> <a href="../elements/id-df87565470a4473a96acd6f5af5c91f4.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8bf759e333954aeb8fd4b89388cdcb45.html" target="element"> Logisk gruppering D </a> </td>
											    <td> <a href="../elements/id-8bf759e333954aeb8fd4b89388cdcb45.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-dd3bd5dfd242452b9521a7186dca3f20.html" target="element"> Kapabilitet 8 </a> </td>
													    <td> <a href="../elements/id-dd3bd5dfd242452b9521a7186dca3f20.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-29cadaa6de1b4199a3aea66fc2f9e463.html" target="element"> Kapabilitet 9 </a> </td>
													    <td> <a href="../elements/id-29cadaa6de1b4199a3aea66fc2f9e463.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5780cf990785470f91c54ab9322379a5.html" target="element"> Kapabilitet 10 </a> </td>
													    <td> <a href="../elements/id-5780cf990785470f91c54ab9322379a5.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-aa006cb0f3804e1c97be820309318629.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aa006cb0f3804e1c97be820309318629.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5304c3c54ebf47c4810994d7b0b0aa12.html" target="element"> Logisk gruppering A </a> </td>
																		<td> <a href="../elements/id-6c0b98b401764f92a1fb912698d9bfcb.html" target="element"> Kapabilitet 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-10cd671a5f034e7699ce4a84f5e2e647.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-10cd671a5f034e7699ce4a84f5e2e647.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5304c3c54ebf47c4810994d7b0b0aa12.html" target="element"> Logisk gruppering A </a> </td>
																		<td> <a href="../elements/id-e1390c0646c14adfa90f8e8230482cf5.html" target="element"> Kapabilitet 2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f697bb30a5a945fdab9f09b56cb9d64a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f697bb30a5a945fdab9f09b56cb9d64a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5304c3c54ebf47c4810994d7b0b0aa12.html" target="element"> Logisk gruppering A </a> </td>
																		<td> <a href="../elements/id-a121796fc9eb4a4abbf072e32e8e1894.html" target="element"> Kapabilitet 3 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0f0c9df148924c3fad9302e44a0ee1c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0f0c9df148924c3fad9302e44a0ee1c6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5304c3c54ebf47c4810994d7b0b0aa12.html" target="element"> Logisk gruppering A </a> </td>
																		<td> <a href="../elements/id-bb8595861ffa4a2880272e26ea138aae.html" target="element"> Kapabilitet 4 </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-088380549b794d34971f4741073281e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-088380549b794d34971f4741073281e5.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11ba1263bc464bc1850aa7155ec73940.html" target="element"> Logisk gruppering B </a> </td>
																		<td> <a href="../elements/id-c382580d06df4cc5abe9cb34818d4686.html" target="element"> Kapabilitet 5 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2aec5e1bc51d4c6f90c043be751179e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2aec5e1bc51d4c6f90c043be751179e2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11ba1263bc464bc1850aa7155ec73940.html" target="element"> Logisk gruppering B </a> </td>
																		<td> <a href="../elements/id-52915f8ff0bf4a4ebb9b28d10c4d67fa.html" target="element"> Kapabilitet 6 </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-fe1c4ee78a6c4eafbdc603ed66dcb317.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fe1c4ee78a6c4eafbdc603ed66dcb317.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-29684914586d41f29c7baacbed7f76b6.html" target="element"> Logisk gruppering C </a> </td>
																		<td> <a href="../elements/id-df87565470a4473a96acd6f5af5c91f4.html" target="element"> Kapabilitet 7 </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4c4ce5c15939482eb06c3aded8ec2ae9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c4ce5c15939482eb06c3aded8ec2ae9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8bf759e333954aeb8fd4b89388cdcb45.html" target="element"> Logisk gruppering D </a> </td>
																		<td> <a href="../elements/id-dd3bd5dfd242452b9521a7186dca3f20.html" target="element"> Kapabilitet 8 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3244746ace8b4f9689b3192dcf3d6313.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3244746ace8b4f9689b3192dcf3d6313.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8bf759e333954aeb8fd4b89388cdcb45.html" target="element"> Logisk gruppering D </a> </td>
																		<td> <a href="../elements/id-29cadaa6de1b4199a3aea66fc2f9e463.html" target="element"> Kapabilitet 9 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e98bd56cad91493bac2a9a7b882a77c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e98bd56cad91493bac2a9a7b882a77c9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8bf759e333954aeb8fd4b89388cdcb45.html" target="element"> Logisk gruppering D </a> </td>
																		<td> <a href="../elements/id-5780cf990785470f91c54ab9322379a5.html" target="element"> Kapabilitet 10 </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>