<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Digital samhandling - Motivasjon</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Digital samhandling - Motivasjon</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-dc1175b4f36249189b84f0fabb8b9057.png" alt="Digital samhandling - Motivasjon" usemap="#id-dc1175b4f36249189b84f0fabb8b9057map"/>
			   <map name="id-dc1175b4f36249189b84f0fabb8b9057map">
				  		<area shape="rect" coords="37,616,157,671" href="../elements/id-04ebbdb720974263aefb858a1a58dc82.html"  target="element">
				  		<area shape="rect" coords="37,101,157,156" href="../elements/id-2b71dae34f98450e93ec22edd2a6c693.html"  target="element">
				  		<area shape="rect" coords="683,376,803,431" href="../elements/id-cfa675f597934fc9beb3055d21214a14.html"  target="element">
				  		<area shape="rect" coords="406,457,563,530" href="../elements/id-7c0fcd38314e4b09a8f5c2d6de21c68b.html"  target="element">
				  		<area shape="rect" coords="406,176,563,231" href="../elements/id-10912352e7734d70aa4c764d518a473e.html"  target="element">
				  		<area shape="rect" coords="406,262,563,317" href="../elements/id-42c94d5c70ec405b8736a5ef767e8d17.html"  target="element">
				  		<area shape="rect" coords="406,562,563,617" href="../elements/id-1f2dcbb4624442dc9ffaa8e1a7f86c49.html"  target="element">
				  		<area shape="rect" coords="405,346,563,431" href="../elements/id-5118d2c9f8984799a93ce9a73396c538.html"  target="element">
				  		<area shape="rect" coords="190,362,205,377" href="../elements/id-f6bb8880fc714031b234884b4e6b853a.html"  target="element">
				  		<area shape="rect" coords="281,186,296,201" href="../elements/id-695f854c81f8419da8dfab76b560ddb9.html"  target="element">
				  		<area shape="rect" coords="229,520,349,575" href="../elements/id-ebf939317ecb4c5b915dd9d40a5cc4a1.html"  target="element">
				  		<area shape="rect" coords="229,424,349,479" href="../elements/id-38bbf4d5871841ecbe5d254289493296.html"  target="element">
				  		<area shape="rect" coords="802,10,935,65" href="../elements/id-87d0c2713c724f4a8533096112c9c33d.html"  target="element">
				  		<area shape="rect" coords="670,10,790,65" href="../elements/id-3ec75a2bb0bb4a46b173a4adadbe13d4.html"  target="element">
				  		<area shape="rect" coords="538,10,658,65" href="../elements/id-4a8b41767af14e50a5af255c54025b06.html"  target="element">
				  		<area shape="rect" coords="406,10,526,65" href="../elements/id-bcfc98262d444226b8b83000006a856d.html"  target="element">
				  		<area shape="rect" coords="274,10,394,65" href="../elements/id-95912ed2236646b4881dec99f425f5f7.html"  target="element">
				  		<area shape="rect" coords="37,545,157,600" href="../elements/id-bbd932f1650648ad856eb46eed5a74bb.html"  target="element">
				  		<area shape="rect" coords="229,334,349,389" href="../elements/id-3f1754e5a00b43e3ab0a89b9e069ab21.html"  target="element">
				  		<area shape="rect" coords="826,284,946,339" href="../elements/id-917e1105a017456f95928347821441b9.html"  target="element">
				  		<area shape="rect" coords="826,186,946,273" href="../elements/id-b8c21f7bfca84f4eac255009c8a2e0e0.html"  target="element">
				  		<area shape="rect" coords="37,473,157,528" href="../elements/id-29c67716d3214a25b12e5c2361cbc826.html"  target="element">
				  		<area shape="rect" coords="37,401,157,456" href="../elements/id-3880bcf312be4e84bd712f436d79c0d3.html"  target="element">
				  		<area shape="rect" coords="37,329,157,384" href="../elements/id-d34f86570fa343a09e4f8e8314626b91.html"  target="element">
				  		<area shape="rect" coords="37,253,157,308" href="../elements/id-402b9a91832c4efdb1c07035a5382a7e.html"  target="element">
				  		<area shape="rect" coords="37,173,157,228" href="../elements/id-be859c6e74004bf8b5806726fa1a7b7f.html"  target="element">
				  		<area shape="rect" coords="142,10,262,65" href="../elements/id-27c11754055d49a6a5afaf022ebf5822.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/id-0218ab35f6ac47a0b67034b26fdc01ca.html"  target="element">
				  		<area shape="rect" coords="229,230,349,285" href="../elements/id-1889fd9c049c41e3823c4f45ac833f69.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">M&#229;lgruppe: De som utvikler eller tilrettelegger for bruk av e-helsel&#248;sninger

Behov: Synliggj&#248;re hvilke drivere og m&#229;l ulike interessenter har for &#229; gjennomf&#248;re gitte tiltak og hvilke resultat og krav som er n&#248;dvendig for &#229; ivareta disse

Detaljniv&#229;: Overordnet
Arkitekturlag / aspekt: Motivasjon
Annet: Inspirert av Business Motivation Model fra OMG og Visual Paradigms Archimate-versjon av samme modell</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-1889fd9c049c41e3823c4f45ac833f69.html" target="element"> Helsefaglige drivere - NHSP </a> </td>
											    <td> <a href="../elements/id-1889fd9c049c41e3823c4f45ac833f69.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0218ab35f6ac47a0b67034b26fdc01ca.html" target="element"> Sammenhengende pasientforl&#248;p </a> </td>
											    <td> <a href="../elements/id-0218ab35f6ac47a0b67034b26fdc01ca.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-27c11754055d49a6a5afaf022ebf5822.html" target="element"> Mer forebygning og tidlig behandling </a> </td>
											    <td> <a href="../elements/id-27c11754055d49a6a5afaf022ebf5822.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-be859c6e74004bf8b5806726fa1a7b7f.html" target="element"> Spesialisthelse-tjenesten </a> </td>
											    <td> <a href="../elements/id-be859c6e74004bf8b5806726fa1a7b7f.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-402b9a91832c4efdb1c07035a5382a7e.html" target="element"> Kommunehelse-tjenesten </a> </td>
											    <td> <a href="../elements/id-402b9a91832c4efdb1c07035a5382a7e.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d34f86570fa343a09e4f8e8314626b91.html" target="element"> Fastleger </a> </td>
											    <td> <a href="../elements/id-d34f86570fa343a09e4f8e8314626b91.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3880bcf312be4e84bd712f436d79c0d3.html" target="element"> Private akt&#248;rer </a> </td>
											    <td> <a href="../elements/id-3880bcf312be4e84bd712f436d79c0d3.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-29c67716d3214a25b12e5c2361cbc826.html" target="element"> Nasjonal tjeneste-leverand&#248;r </a> </td>
											    <td> <a href="../elements/id-29c67716d3214a25b12e5c2361cbc826.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b8c21f7bfca84f4eac255009c8a2e0e0.html" target="element"> Digital samhanling m&#229; bidra til &#229; redusere kompleksitet og &#248;ke endringsevnen </a> </td>
											    <td> <a href="../elements/id-b8c21f7bfca84f4eac255009c8a2e0e0.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-917e1105a017456f95928347821441b9.html" target="element"> Identifisering med HelseID </a> </td>
											    <td> <a href="../elements/id-917e1105a017456f95928347821441b9.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f1754e5a00b43e3ab0a89b9e069ab21.html" target="element"> En innbygger - en journal </a> </td>
											    <td> <a href="../elements/id-3f1754e5a00b43e3ab0a89b9e069ab21.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bbd932f1650648ad856eb46eed5a74bb.html" target="element"> Leverand&#248;rer </a> </td>
											    <td> <a href="../elements/id-bbd932f1650648ad856eb46eed5a74bb.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-95912ed2236646b4881dec99f425f5f7.html" target="element"> B&#230;rekraftig bruk av helsepersonell </a> </td>
											    <td> <a href="../elements/id-95912ed2236646b4881dec99f425f5f7.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bcfc98262d444226b8b83000006a856d.html" target="element"> Yte flere helsetjenester hjemme </a> </td>
											    <td> <a href="../elements/id-bcfc98262d444226b8b83000006a856d.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4a8b41767af14e50a5af255c54025b06.html" target="element"> Pasient og p&#229;r&#248;rende som ressurs </a> </td>
											    <td> <a href="../elements/id-4a8b41767af14e50a5af255c54025b06.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3ec75a2bb0bb4a46b173a4adadbe13d4.html" target="element"> Delta i Europeisk helsesamarbeid </a> </td>
											    <td> <a href="../elements/id-3ec75a2bb0bb4a46b173a4adadbe13d4.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-87d0c2713c724f4a8533096112c9c33d.html" target="element"> Utvikle en verdensledende helsen&#230;ring </a> </td>
											    <td> <a href="../elements/id-87d0c2713c724f4a8533096112c9c33d.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-38bbf4d5871841ecbe5d254289493296.html" target="element"> Drivere - digitalisering  </a> </td>
											    <td> <a href="../elements/id-38bbf4d5871841ecbe5d254289493296.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ebf939317ecb4c5b915dd9d40a5cc4a1.html" target="element"> Digitaliseringsrundskrivet </a> </td>
											    <td> <a href="../elements/id-ebf939317ecb4c5b915dd9d40a5cc4a1.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-695f854c81f8419da8dfab76b560ddb9.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/id-695f854c81f8419da8dfab76b560ddb9.html" target="element" class="i18n-elementtype-Junction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f6bb8880fc714031b234884b4e6b853a.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/id-f6bb8880fc714031b234884b4e6b853a.html" target="element" class="i18n-elementtype-Junction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5118d2c9f8984799a93ce9a73396c538.html" target="element"> Helsepersonell skal ha enkel og sikker tilgang til pasient- og brukeropplysninger </a> </td>
											    <td> <a href="../elements/id-5118d2c9f8984799a93ce9a73396c538.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1f2dcbb4624442dc9ffaa8e1a7f86c49.html" target="element"> Digital samhandling tiltak </a> </td>
											    <td> <a href="../elements/id-1f2dcbb4624442dc9ffaa8e1a7f86c49.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-42c94d5c70ec405b8736a5ef767e8d17.html" target="element"> Forbedre EPJ-l&#248;sninger </a> </td>
											    <td> <a href="../elements/id-42c94d5c70ec405b8736a5ef767e8d17.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-10912352e7734d70aa4c764d518a473e.html" target="element"> EPJ-tiltak </a> </td>
											    <td> <a href="../elements/id-10912352e7734d70aa4c764d518a473e.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7c0fcd38314e4b09a8f5c2d6de21c68b.html" target="element"> Innbyggerne skal ha tilgang p&#229; enkle og sikre digitale tjenester </a> </td>
											    <td> <a href="../elements/id-7c0fcd38314e4b09a8f5c2d6de21c68b.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cfa675f597934fc9beb3055d21214a14.html" target="element"> Regelverk </a> </td>
											    <td> <a href="../elements/id-cfa675f597934fc9beb3055d21214a14.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2b71dae34f98450e93ec22edd2a6c693.html" target="element"> Regjeringen og departement </a> </td>
											    <td> <a href="../elements/id-2b71dae34f98450e93ec22edd2a6c693.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-04ebbdb720974263aefb858a1a58dc82.html" target="element"> Innbyggere </a> </td>
											    <td> <a href="../elements/id-04ebbdb720974263aefb858a1a58dc82.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-3113ba3ebfd742c8b578a0b940b23d11.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3113ba3ebfd742c8b578a0b940b23d11.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1889fd9c049c41e3823c4f45ac833f69.html" target="element"> Helsefaglige drivere - NHSP </a> </td>
																		<td> <a href="../elements/id-3f1754e5a00b43e3ab0a89b9e069ab21.html" target="element"> En innbygger - en journal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-818f26a13b634456b279d2b5285d8678.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-818f26a13b634456b279d2b5285d8678.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1889fd9c049c41e3823c4f45ac833f69.html" target="element"> Helsefaglige drivere - NHSP </a> </td>
																		<td> <a href="../elements/id-695f854c81f8419da8dfab76b560ddb9.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a84aadd4ec884a7fa85d877df34cee47.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a84aadd4ec884a7fa85d877df34cee47.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0218ab35f6ac47a0b67034b26fdc01ca.html" target="element"> Sammenhengende pasientforl&#248;p </a> </td>
																		<td> <a href="../elements/id-695f854c81f8419da8dfab76b560ddb9.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-39527ffe297e4b8282fc7a1f539c045c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-39527ffe297e4b8282fc7a1f539c045c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c11754055d49a6a5afaf022ebf5822.html" target="element"> Mer forebygning og tidlig behandling </a> </td>
																		<td> <a href="../elements/id-695f854c81f8419da8dfab76b560ddb9.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f10df26d983a44c2ab44c7487ef10605.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f10df26d983a44c2ab44c7487ef10605.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-be859c6e74004bf8b5806726fa1a7b7f.html" target="element"> Spesialisthelse-tjenesten </a> </td>
																		<td> <a href="../elements/id-f6bb8880fc714031b234884b4e6b853a.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c7c41816bc0c4b6fa8c874a2f2dbeb2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c7c41816bc0c4b6fa8c874a2f2dbeb2a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-402b9a91832c4efdb1c07035a5382a7e.html" target="element"> Kommunehelse-tjenesten </a> </td>
																		<td> <a href="../elements/id-f6bb8880fc714031b234884b4e6b853a.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-37a630ed008b4a5781d42c888350f78c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37a630ed008b4a5781d42c888350f78c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d34f86570fa343a09e4f8e8314626b91.html" target="element"> Fastleger </a> </td>
																		<td> <a href="../elements/id-f6bb8880fc714031b234884b4e6b853a.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cfe665d9359d40b3bccda4f11b0c123c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfe665d9359d40b3bccda4f11b0c123c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3880bcf312be4e84bd712f436d79c0d3.html" target="element"> Private akt&#248;rer </a> </td>
																		<td> <a href="../elements/id-f6bb8880fc714031b234884b4e6b853a.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7b771a525b514342a43628fce4f2546f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b771a525b514342a43628fce4f2546f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-29c67716d3214a25b12e5c2361cbc826.html" target="element"> Nasjonal tjeneste-leverand&#248;r </a> </td>
																		<td> <a href="../elements/id-f6bb8880fc714031b234884b4e6b853a.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4c090e3bf69d431f8aa17080a1e89e5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c090e3bf69d431f8aa17080a1e89e5b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3f1754e5a00b43e3ab0a89b9e069ab21.html" target="element"> En innbygger - en journal </a> </td>
																		<td> <a href="../elements/id-f6bb8880fc714031b234884b4e6b853a.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-775d8931909540eda0556a257f44f927.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-775d8931909540eda0556a257f44f927.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bbd932f1650648ad856eb46eed5a74bb.html" target="element"> Leverand&#248;rer </a> </td>
																		<td> <a href="../elements/id-f6bb8880fc714031b234884b4e6b853a.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5bbbbc143a854d309075a2987b2e1141.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5bbbbc143a854d309075a2987b2e1141.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-95912ed2236646b4881dec99f425f5f7.html" target="element"> B&#230;rekraftig bruk av helsepersonell </a> </td>
																		<td> <a href="../elements/id-695f854c81f8419da8dfab76b560ddb9.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0952ed890fdc41a9902c7b64aac61baf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0952ed890fdc41a9902c7b64aac61baf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bcfc98262d444226b8b83000006a856d.html" target="element"> Yte flere helsetjenester hjemme </a> </td>
																		<td> <a href="../elements/id-695f854c81f8419da8dfab76b560ddb9.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-38cb53848a2b4fe4be27fb3978372ed9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-38cb53848a2b4fe4be27fb3978372ed9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a8b41767af14e50a5af255c54025b06.html" target="element"> Pasient og p&#229;r&#248;rende som ressurs </a> </td>
																		<td> <a href="../elements/id-695f854c81f8419da8dfab76b560ddb9.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d5c394c1bf1c44b5a3db764255813c0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d5c394c1bf1c44b5a3db764255813c0e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3ec75a2bb0bb4a46b173a4adadbe13d4.html" target="element"> Delta i Europeisk helsesamarbeid </a> </td>
																		<td> <a href="../elements/id-695f854c81f8419da8dfab76b560ddb9.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-97f0d333adf14960865d23df2a8973bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-97f0d333adf14960865d23df2a8973bc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-87d0c2713c724f4a8533096112c9c33d.html" target="element"> Utvikle en verdensledende helsen&#230;ring </a> </td>
																		<td> <a href="../elements/id-695f854c81f8419da8dfab76b560ddb9.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-46f7d255708340bfb0417c5b483ef0c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-46f7d255708340bfb0417c5b483ef0c4.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38bbf4d5871841ecbe5d254289493296.html" target="element"> Drivere - digitalisering  </a> </td>
																		<td> <a href="../elements/id-3f1754e5a00b43e3ab0a89b9e069ab21.html" target="element"> En innbygger - en journal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9ae6155d2a9f470a8ea29f0f771fefa0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ae6155d2a9f470a8ea29f0f771fefa0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ebf939317ecb4c5b915dd9d40a5cc4a1.html" target="element"> Digitaliseringsrundskrivet </a> </td>
																		<td> <a href="../elements/id-38bbf4d5871841ecbe5d254289493296.html" target="element"> Drivere - digitalisering  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f021bfb805244b9482b33e726745bec1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f021bfb805244b9482b33e726745bec1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5118d2c9f8984799a93ce9a73396c538.html" target="element"> Helsepersonell skal ha enkel og sikker tilgang til pasient- og brukeropplysninger </a> </td>
																		<td> <a href="../elements/id-3f1754e5a00b43e3ab0a89b9e069ab21.html" target="element"> En innbygger - en journal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b38383cacbc24d3599bd7be4712e71be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b38383cacbc24d3599bd7be4712e71be.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f2dcbb4624442dc9ffaa8e1a7f86c49.html" target="element"> Digital samhandling tiltak </a> </td>
																		<td> <a href="../elements/id-5118d2c9f8984799a93ce9a73396c538.html" target="element"> Helsepersonell skal ha enkel og sikker tilgang til pasient- og brukeropplysninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7922d48d5c2d4216b92c0fa718ebb626.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7922d48d5c2d4216b92c0fa718ebb626.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f2dcbb4624442dc9ffaa8e1a7f86c49.html" target="element"> Digital samhandling tiltak </a> </td>
																		<td> <a href="../elements/id-cfa675f597934fc9beb3055d21214a14.html" target="element"> Regelverk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f5d63198254b42f79e1e1bd8fa7184ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f5d63198254b42f79e1e1bd8fa7184ad.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f2dcbb4624442dc9ffaa8e1a7f86c49.html" target="element"> Digital samhandling tiltak </a> </td>
																		<td> <a href="../elements/id-7c0fcd38314e4b09a8f5c2d6de21c68b.html" target="element"> Innbyggerne skal ha tilgang p&#229; enkle og sikre digitale tjenester </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2266f9c2219a436987d503a841f0ea53.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2266f9c2219a436987d503a841f0ea53.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-42c94d5c70ec405b8736a5ef767e8d17.html" target="element"> Forbedre EPJ-l&#248;sninger </a> </td>
																		<td> <a href="../elements/id-3f1754e5a00b43e3ab0a89b9e069ab21.html" target="element"> En innbygger - en journal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a42a79fe479c4802ac6e752d2e393590.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a42a79fe479c4802ac6e752d2e393590.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-42c94d5c70ec405b8736a5ef767e8d17.html" target="element"> Forbedre EPJ-l&#248;sninger </a> </td>
																		<td> <a href="../elements/id-5118d2c9f8984799a93ce9a73396c538.html" target="element"> Helsepersonell skal ha enkel og sikker tilgang til pasient- og brukeropplysninger </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f87d7a819cd04858828fd3bf29f1569a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f87d7a819cd04858828fd3bf29f1569a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-10912352e7734d70aa4c764d518a473e.html" target="element"> EPJ-tiltak </a> </td>
																		<td> <a href="../elements/id-42c94d5c70ec405b8736a5ef767e8d17.html" target="element"> Forbedre EPJ-l&#248;sninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aafa0779c58344c78f47e5204fe2fbdd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aafa0779c58344c78f47e5204fe2fbdd.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-10912352e7734d70aa4c764d518a473e.html" target="element"> EPJ-tiltak </a> </td>
																		<td> <a href="../elements/id-cfa675f597934fc9beb3055d21214a14.html" target="element"> Regelverk </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6876c2b1c1d44b9aa62781f4da7ddf53.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6876c2b1c1d44b9aa62781f4da7ddf53.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b71dae34f98450e93ec22edd2a6c693.html" target="element"> Regjeringen og departement </a> </td>
																		<td> <a href="../elements/id-f6bb8880fc714031b234884b4e6b853a.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fcfb3e93644f46c99097ecd55f4e0eff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fcfb3e93644f46c99097ecd55f4e0eff.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-04ebbdb720974263aefb858a1a58dc82.html" target="element"> Innbyggere </a> </td>
																		<td> <a href="../elements/id-775d8931909540eda0556a257f44f927.html" target="element">  </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>