<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Digital samhandling - Motivasjon</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Digital samhandling - Motivasjon</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-dc1175b4f36249189b84f0fabb8b9057.png" alt="Digital samhandling - Motivasjon" usemap="#id-dc1175b4f36249189b84f0fabb8b9057map"/>
			   <map name="id-dc1175b4f36249189b84f0fabb8b9057map">
				  		<area shape="rect" coords="431,742,587,797" href="../elements/id-9c1344416f5a4952942de465e9839095.html"  target="element">
				  		<area shape="rect" coords="695,424,815,479" href="../elements/id-cfa675f597934fc9beb3055d21214a14.html"  target="element">
				  		<area shape="rect" coords="430,141,587,196" href="../elements/id-10912352e7734d70aa4c764d518a473e.html"  target="element">
				  		<area shape="rect" coords="430,227,587,282" href="../elements/id-42c94d5c70ec405b8736a5ef767e8d17.html"  target="element">
				  		<area shape="rect" coords="431,817,588,872" href="../elements/id-1f2dcbb4624442dc9ffaa8e1a7f86c49.html"  target="element">
				  		<area shape="rect" coords="241,568,361,623" href="../elements/id-ebf939317ecb4c5b915dd9d40a5cc4a1.html"  target="element">
				  		<area shape="rect" coords="241,472,361,527" href="../elements/id-38bbf4d5871841ecbe5d254289493296.html"  target="element">
				  		<area shape="rect" coords="241,370,361,437" href="../elements/id-3f1754e5a00b43e3ab0a89b9e069ab21.html"  target="element">
				  		<area shape="rect" coords="838,332,958,387" href="../elements/id-917e1105a017456f95928347821441b9.html"  target="element">
				  		<area shape="rect" coords="838,234,958,321" href="../elements/id-b8c21f7bfca84f4eac255009c8a2e0e0.html"  target="element">
				  		<area shape="rect" coords="49,529,169,584" href="../elements/id-29c67716d3214a25b12e5c2361cbc826.html"  target="element">
				  		<area shape="rect" coords="49,457,169,512" href="../elements/id-3880bcf312be4e84bd712f436d79c0d3.html"  target="element">
				  		<area shape="rect" coords="241,278,361,334" href="../elements/id-1889fd9c049c41e3823c4f45ac833f69.html"  target="element">
				  				<area shape="rect" coords="22,46,142,101" href="../elements/id-0218ab35f6ac47a0b67034b26fdc01ca.html"  target="element">
				  				<area shape="rect" coords="154,46,299,101" href="../elements/id-27c11754055d49a6a5afaf022ebf5822.html"  target="element">
				  				<area shape="rect" coords="310,46,430,101" href="../elements/id-95912ed2236646b4881dec99f425f5f7.html"  target="element">
				  				<area shape="rect" coords="442,46,562,101" href="../elements/id-bcfc98262d444226b8b83000006a856d.html"  target="element">
				  				<area shape="rect" coords="574,46,694,101" href="../elements/id-4a8b41767af14e50a5af255c54025b06.html"  target="element">
				  				<area shape="rect" coords="850,46,983,101" href="../elements/id-87d0c2713c724f4a8533096112c9c33d.html"  target="element">
				  				<area shape="rect" coords="706,46,839,101" href="../elements/id-3ec75a2bb0bb4a46b173a4adadbe13d4.html"  target="element">

				  		<area shape="rect" coords="10,10,1007,122" href="../elements/id-1f24479e746646968922275e2d5f4570.html"  target="element">
				  				<area shape="rect" coords="46,669,166,724" href="../elements/id-04ebbdb720974263aefb858a1a58dc82.html"  target="element">
				  				<area shape="rect" coords="46,381,166,436" href="../elements/id-d34f86570fa343a09e4f8e8314626b91.html"  target="element">
				  				<area shape="rect" coords="43,309,163,364" href="../elements/id-402b9a91832c4efdb1c07035a5382a7e.html"  target="element">
				  				<area shape="rect" coords="43,245,163,300" href="../elements/id-be859c6e74004bf8b5806726fa1a7b7f.html"  target="element">
				  				<area shape="rect" coords="43,165,163,226" href="../elements/id-2b71dae34f98450e93ec22edd2a6c693.html"  target="element">
				  				<area shape="rect" coords="46,597,166,652" href="../elements/id-bbd932f1650648ad856eb46eed5a74bb.html"  target="element">

				  		<area shape="rect" coords="10,141,191,763" href="../elements/id-6d2c90c2de3e41299c61121574acce73.html"  target="element">
				  				<area shape="rect" coords="426,624,582,709" href="../elements/id-5607d597f8bb48dfac8446de3a3e18d6.html"  target="element">
				  				<area shape="rect" coords="425,564,581,613" href="../elements/id-51a8e660dc5740679af44883ec08a161.html"  target="element">
				  				<area shape="rect" coords="424,324,582,409" href="../elements/id-ae38361d6ef04bfe8ac8a79d408e242e.html"  target="element">
				  				<area shape="rect" coords="425,492,581,558" href="../elements/id-ef806c183bc9412bb74a1d88a89c631a.html"  target="element">
				  				<area shape="rect" coords="424,420,581,481" href="../elements/id-d81e035fc3fb49b2a32ad1c2bf654271.html"  target="element">

				  		<area shape="rect" coords="400,300,623,719" href="../elements/id-f19543baeceb44668c1bef4d37300c36.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">M&#229;lgruppe: De som utvikler eller tilrettelegger for bruk av e-helsel&#248;sninger

Behov: Synliggj&#248;re hvilke drivere og m&#229;l ulike interessenter har for &#229; gjennomf&#248;re gitte tiltak og hvilke resultat og krav som er n&#248;dvendig for &#229; ivareta disse

Detaljniv&#229;: Overordnet
Arkitekturlag / aspekt: Motivasjon
Annet: Inspirert av Business Motivation Model fra OMG og Visual Paradigms Archimate-versjon av samme modell</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-f19543baeceb44668c1bef4d37300c36.html" target="element"> M&#229;l NHSP </a> </td>
											    <td> <a href="../elements/id-f19543baeceb44668c1bef4d37300c36.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d81e035fc3fb49b2a32ad1c2bf654271.html" target="element"> Gode pasientforl&#248;p og rask tilgang til tjenester i hele landet </a> </td>
													    <td> <a href="../elements/id-d81e035fc3fb49b2a32ad1c2bf654271.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ef806c183bc9412bb74a1d88a89c631a.html" target="element"> Helse- og omsorgstjenesten er et attraktivt arbeidssted i et livslangt karrierel&#248;p </a> </td>
													    <td> <a href="../elements/id-ef806c183bc9412bb74a1d88a89c631a.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ae38361d6ef04bfe8ac8a79d408e242e.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-ae38361d6ef04bfe8ac8a79d408e242e.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-51a8e660dc5740679af44883ec08a161.html" target="element"> B&#230;rekraftig og rettferdig ressursbruk </a> </td>
													    <td> <a href="../elements/id-51a8e660dc5740679af44883ec08a161.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5607d597f8bb48dfac8446de3a3e18d6.html" target="element"> Helse- og omsorgssektoren er forberedt i m&#248;te med kriser og katastrofer </a> </td>
													    <td> <a href="../elements/id-5607d597f8bb48dfac8446de3a3e18d6.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-6d2c90c2de3e41299c61121574acce73.html" target="element"> Akt&#248;rer </a> </td>
											    <td> <a href="../elements/id-6d2c90c2de3e41299c61121574acce73.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bbd932f1650648ad856eb46eed5a74bb.html" target="element"> Leverand&#248;rer </a> </td>
													    <td> <a href="../elements/id-bbd932f1650648ad856eb46eed5a74bb.html" target="element" class="i18n-elementtype-Stakeholder">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2b71dae34f98450e93ec22edd2a6c693.html" target="element"> Regjeringen, departement og helseforvaltning </a> </td>
													    <td> <a href="../elements/id-2b71dae34f98450e93ec22edd2a6c693.html" target="element" class="i18n-elementtype-Stakeholder">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-be859c6e74004bf8b5806726fa1a7b7f.html" target="element"> Spesialisthelse-tjenesten </a> </td>
													    <td> <a href="../elements/id-be859c6e74004bf8b5806726fa1a7b7f.html" target="element" class="i18n-elementtype-Stakeholder">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-402b9a91832c4efdb1c07035a5382a7e.html" target="element"> Kommunehelse-tjenesten </a> </td>
													    <td> <a href="../elements/id-402b9a91832c4efdb1c07035a5382a7e.html" target="element" class="i18n-elementtype-Stakeholder">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d34f86570fa343a09e4f8e8314626b91.html" target="element"> Fastleger </a> </td>
													    <td> <a href="../elements/id-d34f86570fa343a09e4f8e8314626b91.html" target="element" class="i18n-elementtype-Stakeholder">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-04ebbdb720974263aefb858a1a58dc82.html" target="element"> Innbyggere </a> </td>
													    <td> <a href="../elements/id-04ebbdb720974263aefb858a1a58dc82.html" target="element" class="i18n-elementtype-Stakeholder">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-1f24479e746646968922275e2d5f4570.html" target="element"> Helsefaglige drivere </a> </td>
											    <td> <a href="../elements/id-1f24479e746646968922275e2d5f4570.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3ec75a2bb0bb4a46b173a4adadbe13d4.html" target="element"> Delta i Europeisk helsesamarbeid </a> </td>
													    <td> <a href="../elements/id-3ec75a2bb0bb4a46b173a4adadbe13d4.html" target="element" class="i18n-elementtype-Driver">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-87d0c2713c724f4a8533096112c9c33d.html" target="element"> Utvikle en verdensledende helsen&#230;ring </a> </td>
													    <td> <a href="../elements/id-87d0c2713c724f4a8533096112c9c33d.html" target="element" class="i18n-elementtype-Driver">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4a8b41767af14e50a5af255c54025b06.html" target="element"> Pasient og p&#229;r&#248;rende som ressurs </a> </td>
													    <td> <a href="../elements/id-4a8b41767af14e50a5af255c54025b06.html" target="element" class="i18n-elementtype-Driver">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bcfc98262d444226b8b83000006a856d.html" target="element"> Yte flere helsetjenester hjemme </a> </td>
													    <td> <a href="../elements/id-bcfc98262d444226b8b83000006a856d.html" target="element" class="i18n-elementtype-Driver">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-95912ed2236646b4881dec99f425f5f7.html" target="element"> B&#230;rekraftig bruk av helsepersonell </a> </td>
													    <td> <a href="../elements/id-95912ed2236646b4881dec99f425f5f7.html" target="element" class="i18n-elementtype-Driver">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-27c11754055d49a6a5afaf022ebf5822.html" target="element"> Mer forebygning og tidlig behandling </a> </td>
													    <td> <a href="../elements/id-27c11754055d49a6a5afaf022ebf5822.html" target="element" class="i18n-elementtype-Driver">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0218ab35f6ac47a0b67034b26fdc01ca.html" target="element"> Sammenhengende pasientforl&#248;p </a> </td>
													    <td> <a href="../elements/id-0218ab35f6ac47a0b67034b26fdc01ca.html" target="element" class="i18n-elementtype-Driver">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-1889fd9c049c41e3823c4f45ac833f69.html" target="element"> Helsefaglige drivere - NHSP </a> </td>
											    <td> <a href="../elements/id-1889fd9c049c41e3823c4f45ac833f69.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3880bcf312be4e84bd712f436d79c0d3.html" target="element"> Private akt&#248;rer </a> </td>
											    <td> <a href="../elements/id-3880bcf312be4e84bd712f436d79c0d3.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-29c67716d3214a25b12e5c2361cbc826.html" target="element"> Nasjonal tjeneste-leverand&#248;r </a> </td>
											    <td> <a href="../elements/id-29c67716d3214a25b12e5c2361cbc826.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b8c21f7bfca84f4eac255009c8a2e0e0.html" target="element"> Nye prinsipper </a> </td>
											    <td> <a href="../elements/id-b8c21f7bfca84f4eac255009c8a2e0e0.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-917e1105a017456f95928347821441b9.html" target="element"> Identifisering med HelseID </a> </td>
											    <td> <a href="../elements/id-917e1105a017456f95928347821441b9.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f1754e5a00b43e3ab0a89b9e069ab21.html" target="element"> M&#229;l Nasjonal helse- og samhandlings-plan </a> </td>
											    <td> <a href="../elements/id-3f1754e5a00b43e3ab0a89b9e069ab21.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-38bbf4d5871841ecbe5d254289493296.html" target="element"> Drivere - digitalisering  </a> </td>
											    <td> <a href="../elements/id-38bbf4d5871841ecbe5d254289493296.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ebf939317ecb4c5b915dd9d40a5cc4a1.html" target="element"> Digitaliseringsrundskrivet mm </a> </td>
											    <td> <a href="../elements/id-ebf939317ecb4c5b915dd9d40a5cc4a1.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1f2dcbb4624442dc9ffaa8e1a7f86c49.html" target="element"> Digital samhandling tiltak </a> </td>
											    <td> <a href="../elements/id-1f2dcbb4624442dc9ffaa8e1a7f86c49.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-42c94d5c70ec405b8736a5ef767e8d17.html" target="element"> Forbedre EPJ-l&#248;sninger </a> </td>
											    <td> <a href="../elements/id-42c94d5c70ec405b8736a5ef767e8d17.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-10912352e7734d70aa4c764d518a473e.html" target="element"> EPJ-tiltak </a> </td>
											    <td> <a href="../elements/id-10912352e7734d70aa4c764d518a473e.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cfa675f597934fc9beb3055d21214a14.html" target="element"> Regelverk </a> </td>
											    <td> <a href="../elements/id-cfa675f597934fc9beb3055d21214a14.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9c1344416f5a4952942de465e9839095.html" target="element"> Forbedre digital samhandling </a> </td>
											    <td> <a href="../elements/id-9c1344416f5a4952942de465e9839095.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-587a87f0c428479bbe3ce466ba884f1a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-587a87f0c428479bbe3ce466ba884f1a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f19543baeceb44668c1bef4d37300c36.html" target="element"> M&#229;l NHSP </a> </td>
																		<td> <a href="../elements/id-d81e035fc3fb49b2a32ad1c2bf654271.html" target="element"> Gode pasientforl&#248;p og rask tilgang til tjenester i hele landet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ebdcfaf565ca405bae199ff5b5e73823.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ebdcfaf565ca405bae199ff5b5e73823.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f19543baeceb44668c1bef4d37300c36.html" target="element"> M&#229;l NHSP </a> </td>
																		<td> <a href="../elements/id-ef806c183bc9412bb74a1d88a89c631a.html" target="element"> Helse- og omsorgstjenesten er et attraktivt arbeidssted i et livslangt karrierel&#248;p </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-00c67761008d4c83bb254f90a3ab78ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00c67761008d4c83bb254f90a3ab78ba.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f19543baeceb44668c1bef4d37300c36.html" target="element"> M&#229;l NHSP </a> </td>
																		<td> <a href="../elements/id-51a8e660dc5740679af44883ec08a161.html" target="element"> B&#230;rekraftig og rettferdig ressursbruk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bf97ea831ad84941ab6e993616bd38d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf97ea831ad84941ab6e993616bd38d6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f19543baeceb44668c1bef4d37300c36.html" target="element"> M&#229;l NHSP </a> </td>
																		<td> <a href="../elements/id-5607d597f8bb48dfac8446de3a3e18d6.html" target="element"> Helse- og omsorgssektoren er forberedt i m&#248;te med kriser og katastrofer </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f4429956dbe0488f89567e569ed711e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4429956dbe0488f89567e569ed711e2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6d2c90c2de3e41299c61121574acce73.html" target="element"> Akt&#248;rer </a> </td>
																		<td> <a href="../elements/id-3f1754e5a00b43e3ab0a89b9e069ab21.html" target="element"> M&#229;l Nasjonal helse- og samhandlings-plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7852419bcb95464389aa5facd16266cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7852419bcb95464389aa5facd16266cc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6d2c90c2de3e41299c61121574acce73.html" target="element"> Akt&#248;rer </a> </td>
																		<td> <a href="../elements/id-04ebbdb720974263aefb858a1a58dc82.html" target="element"> Innbyggere </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-7784f3317453487782c6eac1df8460ba.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7784f3317453487782c6eac1df8460ba.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bbd932f1650648ad856eb46eed5a74bb.html" target="element"> Leverand&#248;rer </a> </td>
																				<td> <a href="../elements/id-6d2c90c2de3e41299c61121574acce73.html" target="element"> Akt&#248;rer </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-723b54550d86444f826cf18c5df0b9d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-723b54550d86444f826cf18c5df0b9d8.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-be859c6e74004bf8b5806726fa1a7b7f.html" target="element"> Spesialisthelse-tjenesten </a> </td>
																				<td> <a href="../elements/id-6d2c90c2de3e41299c61121574acce73.html" target="element"> Akt&#248;rer </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f280aa81bbf240a5a4a23c162a1c3da5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f280aa81bbf240a5a4a23c162a1c3da5.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-402b9a91832c4efdb1c07035a5382a7e.html" target="element"> Kommunehelse-tjenesten </a> </td>
																				<td> <a href="../elements/id-6d2c90c2de3e41299c61121574acce73.html" target="element"> Akt&#248;rer </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ab6410246f34438dac887aec24822eb2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab6410246f34438dac887aec24822eb2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f24479e746646968922275e2d5f4570.html" target="element"> Helsefaglige drivere </a> </td>
																		<td> <a href="../elements/id-3ec75a2bb0bb4a46b173a4adadbe13d4.html" target="element"> Delta i Europeisk helsesamarbeid </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a204c47c1434430d85317e2a937b32a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a204c47c1434430d85317e2a937b32a1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f24479e746646968922275e2d5f4570.html" target="element"> Helsefaglige drivere </a> </td>
																		<td> <a href="../elements/id-87d0c2713c724f4a8533096112c9c33d.html" target="element"> Utvikle en verdensledende helsen&#230;ring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-43af3675008e4ddb8a5b94ea7565f936.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43af3675008e4ddb8a5b94ea7565f936.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f24479e746646968922275e2d5f4570.html" target="element"> Helsefaglige drivere </a> </td>
																		<td> <a href="../elements/id-4a8b41767af14e50a5af255c54025b06.html" target="element"> Pasient og p&#229;r&#248;rende som ressurs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1de755ff87484cd4b4cf18bf6c80ff60.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1de755ff87484cd4b4cf18bf6c80ff60.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f24479e746646968922275e2d5f4570.html" target="element"> Helsefaglige drivere </a> </td>
																		<td> <a href="../elements/id-bcfc98262d444226b8b83000006a856d.html" target="element"> Yte flere helsetjenester hjemme </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c4d11aebb865459c94d0487dac7fea95.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c4d11aebb865459c94d0487dac7fea95.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f24479e746646968922275e2d5f4570.html" target="element"> Helsefaglige drivere </a> </td>
																		<td> <a href="../elements/id-95912ed2236646b4881dec99f425f5f7.html" target="element"> B&#230;rekraftig bruk av helsepersonell </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cde4a1be8e0f44c78a4e7cd25ad584fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cde4a1be8e0f44c78a4e7cd25ad584fe.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f24479e746646968922275e2d5f4570.html" target="element"> Helsefaglige drivere </a> </td>
																		<td> <a href="../elements/id-27c11754055d49a6a5afaf022ebf5822.html" target="element"> Mer forebygning og tidlig behandling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5eb7b0e2a00d41babfb0c4c517b47c63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5eb7b0e2a00d41babfb0c4c517b47c63.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f24479e746646968922275e2d5f4570.html" target="element"> Helsefaglige drivere </a> </td>
																		<td> <a href="../elements/id-0218ab35f6ac47a0b67034b26fdc01ca.html" target="element"> Sammenhengende pasientforl&#248;p </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-3113ba3ebfd742c8b578a0b940b23d11.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3113ba3ebfd742c8b578a0b940b23d11.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1889fd9c049c41e3823c4f45ac833f69.html" target="element"> Helsefaglige drivere - NHSP </a> </td>
																		<td> <a href="../elements/id-3f1754e5a00b43e3ab0a89b9e069ab21.html" target="element"> M&#229;l Nasjonal helse- og samhandlings-plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-041f11ec1f9c442fa38db96401b53520.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-041f11ec1f9c442fa38db96401b53520.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1889fd9c049c41e3823c4f45ac833f69.html" target="element"> Helsefaglige drivere - NHSP </a> </td>
																		<td> <a href="../elements/id-1f24479e746646968922275e2d5f4570.html" target="element"> Helsefaglige drivere </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-68cb26a0caf54629a0a492a73c882a0f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-68cb26a0caf54629a0a492a73c882a0f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3f1754e5a00b43e3ab0a89b9e069ab21.html" target="element"> M&#229;l Nasjonal helse- og samhandlings-plan </a> </td>
																		<td> <a href="../elements/id-f19543baeceb44668c1bef4d37300c36.html" target="element"> M&#229;l NHSP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-511c61781a0141e08b3d0f4e5a9d587b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-511c61781a0141e08b3d0f4e5a9d587b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3f1754e5a00b43e3ab0a89b9e069ab21.html" target="element"> M&#229;l Nasjonal helse- og samhandlings-plan </a> </td>
																		<td> <a href="../elements/id-9c1344416f5a4952942de465e9839095.html" target="element"> Forbedre digital samhandling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-46f7d255708340bfb0417c5b483ef0c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-46f7d255708340bfb0417c5b483ef0c4.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38bbf4d5871841ecbe5d254289493296.html" target="element"> Drivere - digitalisering  </a> </td>
																		<td> <a href="../elements/id-3f1754e5a00b43e3ab0a89b9e069ab21.html" target="element"> M&#229;l Nasjonal helse- og samhandlings-plan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9ae6155d2a9f470a8ea29f0f771fefa0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ae6155d2a9f470a8ea29f0f771fefa0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ebf939317ecb4c5b915dd9d40a5cc4a1.html" target="element"> Digitaliseringsrundskrivet mm </a> </td>
																		<td> <a href="../elements/id-38bbf4d5871841ecbe5d254289493296.html" target="element"> Drivere - digitalisering  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-da8bc4b49b224d9a91046be1e5e5bce7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da8bc4b49b224d9a91046be1e5e5bce7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f2dcbb4624442dc9ffaa8e1a7f86c49.html" target="element"> Digital samhandling tiltak </a> </td>
																		<td> <a href="../elements/id-9c1344416f5a4952942de465e9839095.html" target="element"> Forbedre digital samhandling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2266f9c2219a436987d503a841f0ea53.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2266f9c2219a436987d503a841f0ea53.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-42c94d5c70ec405b8736a5ef767e8d17.html" target="element"> Forbedre EPJ-l&#248;sninger </a> </td>
																		<td> <a href="../elements/id-3f1754e5a00b43e3ab0a89b9e069ab21.html" target="element"> M&#229;l Nasjonal helse- og samhandlings-plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3ba113b9ae0641d3a65b561a4e5d49da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ba113b9ae0641d3a65b561a4e5d49da.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-42c94d5c70ec405b8736a5ef767e8d17.html" target="element"> Forbedre EPJ-l&#248;sninger </a> </td>
																		<td> <a href="../elements/id-f19543baeceb44668c1bef4d37300c36.html" target="element"> M&#229;l NHSP </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f87d7a819cd04858828fd3bf29f1569a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f87d7a819cd04858828fd3bf29f1569a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-10912352e7734d70aa4c764d518a473e.html" target="element"> EPJ-tiltak </a> </td>
																		<td> <a href="../elements/id-42c94d5c70ec405b8736a5ef767e8d17.html" target="element"> Forbedre EPJ-l&#248;sninger </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ddcc122021ed43d99a945d5842f01ac1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ddcc122021ed43d99a945d5842f01ac1.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cfa675f597934fc9beb3055d21214a14.html" target="element"> Regelverk </a> </td>
																		<td> <a href="../elements/id-42c94d5c70ec405b8736a5ef767e8d17.html" target="element"> Forbedre EPJ-l&#248;sninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3301e4675899456985a3cb4db38c22a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3301e4675899456985a3cb4db38c22a0.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cfa675f597934fc9beb3055d21214a14.html" target="element"> Regelverk </a> </td>
																		<td> <a href="../elements/id-9c1344416f5a4952942de465e9839095.html" target="element"> Forbedre digital samhandling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-38e9bddb194443eba778f2179b98b5a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-38e9bddb194443eba778f2179b98b5a6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9c1344416f5a4952942de465e9839095.html" target="element"> Forbedre digital samhandling </a> </td>
																		<td> <a href="../elements/id-f19543baeceb44668c1bef4d37300c36.html" target="element"> M&#229;l NHSP </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>